<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="cityForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New City</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="cityErrors">
                                    <li v-for="error in cityErrors" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="message in error">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="city.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-select :items="divisionList" item-text="name"
                                                  item-value="id" type="number" v-model="city.division_id"
                                                  :rules="[v => !!v || 'Division is required']"
                                                  label="Division *"></v-select>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-switch v-model="city.status" label="Status"/>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.city.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {CITY_CREATE, CITY_UPDATE} from "../../../../core/services/store/cities.module";
    import {mapGetters} from "vuex";
    import {DIVISION_LIST} from "../../../../core/services/store/divisions.module";

    export default {
        name: "CityForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                city: this.item
            }
        },
        created() {
            if (!this.divisionList.length) {
                this.$store.dispatch(DIVISION_LIST);
            }
        },
        computed: {
            ...mapGetters(["cityErrors", "cityIsLoaded", "dialog", "divisionList"])
        },
        methods: {
            save() {
                if (this.$refs.cityForm.validate()) {
                    this.city.status = +this.city.status;
                    this.$store.dispatch(this.city.id ? CITY_UPDATE : CITY_CREATE, this.city);
                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
            }
        }
    }
</script>

<style scoped>

</style>