<template>
    <v-card>
        <v-card-title>
            Cities

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="cityList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(cityList)"
                :search="search"
        >
            <template v-slot:item.division_id="{ item }">
             {{ getNameById(item.division_id)  }}  
             
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <city-form v-if="dialog" :item="item"></city-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        CITY_DELETE,
        CITY_FORM_STATUS,
        CITY_LIST
    } from "../../../../core/services/store/cities.module";
    import {
        DIVISION_LIST
    } from "../../../../core/services/store/divisions.module";
    import CityForm from "./CityForm";

    export default {
        components: {CityForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Under Division', value: 'division_id'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(CITY_LIST)
            this.$store.dispatch(DIVISION_LIST)
        },
        computed: {
            ...mapGetters(["cityList", "dialog"])
        },
        methods: {
            createNew() {
                  this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                  this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(CITY_DELETE, item)
            },
            getNameById(cId){
                 let division = this.$store.getters.getDivisionName(cId);
                 return division.name;
            }
        }
    }
</script>

<style scoped>

</style>