<template>
    <ul class="menu-nav">
        <router-link
                to="/dashboard"
                v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    class="menu-item"
                    :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
            >
                <a :href="href" class="menu-link" @click="navigate">
                    <i class="menu-icon flaticon2-architecture-and-city"></i>
                    <span class="menu-text">Dashboard</span>
                </a>
            </li>
        </router-link>

        <router-link
                to="/brands"
                v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    class="menu-item"
                    :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
            >
                <a :href="href" class="menu-link" @click="navigate">
                    <i class="menu-icon flaticon2-expand"></i>
                    <span class="menu-text">Brands</span>
                </a>
            </li>
        </router-link>

        <router-link
                to="/btypes"
                v-slot="{ href, navigate, isActive, isExactActive }"
        >
            <li
                    aria-haspopup="true"
                    data-menu-toggle="hover"
                    class="menu-item"
                    :class="[
          isActive && 'menu-item-active',
          isExactActive && 'menu-item-active'
        ]"
            >
                <a :href="href" class="menu-link" @click="navigate">
                    <i class="menu-icon flaticon2-expand"></i>
                    <span class="menu-text">Business Types</span>
                </a>
            </li>
        </router-link>

        <li
                aria-haspopup="true"
                data-menu-toggle="hover"
                class="menu-item menu-item-submenu"
                v-bind:class="{ 'menu-item-open': hasActiveChildren('/vue-bootstrap') }"
        >
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon flaticon2-digital-marketing"></i>
                <span class="menu-text">Region</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu" kt-hidden-height="920">
                <span class="menu-arrow"></span>
                <ul class="menu-subnav">
                    <li aria-haspopup="true" class="menu-item menu-item-parent">
                    <span class="menu-link">
                      <span class="menu-text">Region</span>
                    </span>
                    </li>

                    <router-link
                            to="/region/country"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Country</span>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                            to="/region/division"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Division</span>
                            </a>
                        </li>
                    </router-link>


                    <router-link
                            to="/region/city"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">City</span>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                            to="/region/zone"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Area</span>
                            </a>
                        </li>
                    </router-link>
                </ul>
            </div>
        </li>

        <li
                aria-haspopup="true"
                data-menu-toggle="hover"
                class="menu-item menu-item-submenu"
                v-bind:class="{ 'menu-item-open': hasActiveChildren('/vue-bootstrap') }"
        >
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon flaticon2-digital-marketing"></i>
                <span class="menu-text">Product</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="menu-submenu" kt-hidden-height="920">
                <span class="menu-arrow"></span>
                <ul class="menu-subnav">
                    <li aria-haspopup="true" class="menu-item menu-item-parent">
                    <span class="menu-link">
                      <span class="menu-text">Product</span>
                    </span>
                    </li>

                    <router-link
                            to="/product/category"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Category</span>
                            </a>
                        </li>
                    </router-link>

                    <router-link
                            to="/product/attribute"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Attribute</span>
                            </a>
                        </li>
                    </router-link>
                    <router-link
                            to="/product/attribute-terms"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Attribute Terms</span>
                            </a>
                        </li>
                    </router-link>
                    <router-link
                            to="/product/attribute-group"
                            v-slot="{ href, navigate, isActive, isExactActive }"
                    >
                        <li
                                aria-haspopup="true"
                                data-menu-toggle="hover"
                                class="menu-item"
                                :class="[
                        isActive && 'menu-item-active',
                        isExactActive && 'menu-item-active'
                      ]"
                        >
                            <a :href="href" class="menu-link" @click="navigate">
                                <i class="menu-bullet menu-bullet-dot">
                                    <span></span>
                                </i>
                                <span class="menu-text">Attribute Groups</span>
                            </a>
                        </li>
                    </router-link>
                   <!--  <router-link
                           to="/product/attribute-group-assigned-terms"
                           v-slot="{ href, navigate, isActive, isExactActive }"
                   >
                       <li
                               aria-haspopup="true"
                               data-menu-toggle="hover"
                               class="menu-item"
                               :class="[
                       isActive && 'menu-item-active',
                       isExactActive && 'menu-item-active'
                     ]"
                       >
                           <a :href="href" class="menu-link" @click="navigate">
                               <i class="menu-bullet menu-bullet-dot">
                                   <span></span>
                               </i>
                               <span class="menu-text">Attribute Group Assigned Terms</span>
                           </a>
                       </li>
                   </router-link> -->

                </ul>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        name: "KTMenu",
        methods: {
            hasActiveChildren(match) {
                return this.$route["path"].indexOf(match) !== -1;
            }
        }
    };
</script>
