<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="attributeTermForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Attribute Terms</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="attributeTermErrors">
                                    <li v-for="(error,index) in attributeTermErrors" class="theme--light error--text" :key="index" >
                                        <ul v-if="error.length">
                                            <li v-for="(message,index) in error" :key="index" >
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                     <v-col cols="12" >
                                            <v-text-field v-model="attributeTerm.name" :counter="32"
                                                          :rules="[v => !!v || 'Name is required']"
                                                          label="Name *"></v-text-field>
                                        </v-col>
                                         <v-col cols="12" sm="6" md="6">
                                            <v-select :items="attributeList" item-text="name"
                                                      item-value="id" type="number" v-model="attributeTerm.attribute_id"
                                                      :rules="[v => !!v || 'Attribute is required']"
                                                      label="Attribute *"></v-select>
                                        </v-col>

                                        <v-col cols="12" sm="6" md="6">
                                            <v-switch v-model="attributeTerm.status"  label="Status"></v-switch>
                                        </v-col>
                                
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.attributeTerm.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {ATTRIBUTE_TERM_CREATE, ATTRIBUTE_TERM_UPDATE, RESET_ATTRIBUTE_TERM_ERROR} from "../../../../core/services/store/attributeTerms.module";
    import {ATTRIBUTE_LIST} from "../../../../core/services/store/attributes.module";
    import {mapGetters} from "vuex";

    export default {
        name: "AttributeTermForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                attributeTerm: this.item
                
            }
        },
        created() {
             if (!this.attributeList.length) {
                  this.$store.dispatch(ATTRIBUTE_LIST);
               }
        },
        computed: {
            ...mapGetters(["attributeTermErrors", "attributeTermIsLoaded", "dialog", "attributeList"])
        },
        methods: {
            save() {
                if (this.$refs.attributeTermForm.validate()) {
                    let formData = new FormData();
                    if (this.attributeTerm.id)
                        formData.append('id', this.attributeTerm.id);

                    formData.append('name', this.attributeTerm.name);
                    formData.append('attribute_id', this.attributeTerm.attribute_id);
                    formData.append('status', this.attributeTerm.status==true? 1: 0);
                    let data = this.$store.dispatch(this.attributeTerm.id ? ATTRIBUTE_TERM_UPDATE : ATTRIBUTE_TERM_CREATE, formData);

                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
                this.$store.dispatch(RESET_ATTRIBUTE_TERM_ERROR)
            }
        }
    }
</script>

<style scoped>

</style>