<template>
    <v-card>
        <v-card-title>
            Attribute Terms

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="attributeTermList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(attributeTermList)"
                :search="search"
        >
            <template v-slot:item.attribute_id="{ item }">
             {{ getNameById(item.attribute_id)  }}  
             
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <attribute-term-form v-if="dialog" :item="item"></attribute-term-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        ATTRIBUTE_TERM_DELETE,
        ATTRIBUTE_TERM_LIST,
    } from "../../../../core/services/store/attributeTerms.module";
     import {
        ATTRIBUTE_LIST,
    } from "../../../../core/services/store/attributes.module";
    import AttributeTermForm from "./AttributeTermForm";

    export default {
        components: {AttributeTermForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Under Attribute', value: 'attribute_id'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(ATTRIBUTE_TERM_LIST)
            this.$store.dispatch(ATTRIBUTE_LIST)
        },
        computed: {
            ...mapGetters(["attributeTermList", "dialog"])
        },
        methods: {
            createNew() {
                this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(ATTRIBUTE_TERM_DELETE, item)
            },
            getNameById(id){
                 let attribute = this.$store.getters.getAttributeName(id);
                 return attribute.name;
            }
        }
    }
</script>

<style scoped>

</style>