<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="btypeForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Business Type</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="btypeErrors">
                                    <li v-for="error in btypeErrors" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="message in error">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="btype.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12"  sm="6" md="6">
                                        <v-switch v-model="btype.status" label="Status"></v-switch>
                                    </v-col>

                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.btype.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {BTYPE_CREATE, BTYPE_FORM_STATUS, BTYPE_UPDATE} from "../../../core/services/store/btypes.module";
    import {mapGetters} from "vuex";

    export default {
        name: "BtypeForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                btype: this.item
            }
        },
        created() {

        },
        computed: {
            ...mapGetters(["btypeErrors", "btypeIsLoaded", "dialog"])
        },
        methods: {
            save() {
                if (this.$refs.btypeForm.validate()) {
                    let formData = new FormData();
                    if (this.btype.id)
                    formData.append('id', this.btype.id);
                    formData.append('name', this.btype.name);
                    formData.append('status', +this.btype.status);
                    let data = this.$store.dispatch(this.btype.id ? BTYPE_UPDATE : BTYPE_CREATE, formData);

                }
            },
            closeDialog(){
                this.$store.dispatch("setModalStatus", false)
            }
        }
    }
</script>

<style scoped>

</style>