<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="categoryForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Category</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="categoryErrors">
                                    <li v-for="(error,index) in categoryErrors" class="theme--light error--text" :key="index" >
                                        <ul v-if="error.length">
                                            <li v-for="(message,index) in error" :key="index" >
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="category.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field type="number" v-model="category.rank"
                                                      :rules="[v => !!v || 'Rank is required']"
                                                      label="Rank *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-select :items="categoryList" item-text="name"
                                                  item-value="id" type="number" v-model="category.parent_id"
                                                  label="Parent Category"/>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-switch v-model="category.status" label="Status"></v-switch>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-textarea v-model="category.description"
                                                    label="Description"/>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-file-input v-model="category.image" label="Category Image"
                                                      :rules="[v => !!v || 'Category Image is required']"></v-file-input>
                                    </v-col>
                                  <!--  <v-img v-if="category.image" :src="category.image"></v-img>-->
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.category.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {CATEGORY_CREATE, CATEGORY_UPDATE,RESET_CATEGORY_ERROR} from "../../../../core/services/store/categories.module";
    import {mapGetters} from "vuex";

    export default {
        name: "CategoryForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                category: this.item
            }
        },
        created() {

        },
        computed: {
            ...mapGetters(["categoryErrors", "categoryIsLoaded", "dialog", "categoryList"])
        },
        methods: {
            save() {
                if (this.$refs.categoryForm.validate()) {
                    let formData = new FormData();
                    if (this.category.id)
                        formData.append('id', this.category.id);

                    if (this.category.parent_id)
                        formData.append('parent_id', this.category.parent_id);

                    formData.append('name', this.category.name);
                    formData.append('rank', this.category.rank);
                    formData.append('description', this.category.description?? '');
                    formData.append('status', this.category.status==true? 1: 0 );
                    formData.append('image', this.category.image );
                    let data = this.$store.dispatch(this.category.id ? CATEGORY_UPDATE : CATEGORY_CREATE, formData);

                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
                this.$store.dispatch(RESET_CATEGORY_ERROR)
            }
        }
    }
</script>

<style scoped>

</style>