<template>
    <v-card>
        <v-card-title>
            Categories

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="categoryList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(categoryList)"
                :search="search"
        >
        <template v-slot:item.parent_id="{ item }">
             {{ getParentById(item.parent_id)  }}  
             
            </template>
        <template v-slot:item.image="{ item }">
            <div class="p-2" v-if="item.image">
                <!-- <img src="" alt="" width="50" height="50">  -->
              <v-img :src="apiBaseUrl+item.image" :alt="item.name" width="60" height="40px"></v-img>
            </div>
          </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <category-form v-if="dialog" :item="item"></category-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        CATEGORY_DELETE,
        CATEGORY_LIST,
    } from "../../../../core/services/store/categories.module";
    import CategoryForm from "./CategoryForm";
    import {api_base_url} from "../../../../core/config/app";

    export default {
        components: {CategoryForm},
        data() {
            return {
                item: {},
                search: '',
                apiBaseUrl:api_base_url,
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Parent', value: 'parent_id'},
                    {text: 'Rank', value: 'rank'},
                    {text: 'Image', value: 'image', sortable: false},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(CATEGORY_LIST)
        },
        computed: {
            ...mapGetters(["categoryList", "dialog"])
        },
        methods: {
            createNew() {
                this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(CATEGORY_DELETE, item)
            },
            getParentById(cId){
                if(cId  === null) {
                    return "";
                }else{
                    let category = this.$store.getters.getCategoryById(cId);
                 return category.name;
                }                 
            }
        }
    }
</script>

<style scoped>

</style>