<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="attributeGroupForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Attribute Group</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="attributeGroupErrors">
                                    <li v-for="(error,index) in attributeGroupErrors" :key="index" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="(message,index) in error"
                                            :key="index"
                                            >
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                     <v-col cols="12"  sm="6" md="6" >
                                            <v-text-field v-model="attributeGroup.name" :counter="32"
                                                          :rules="[v => !!v || 'Name is required']"
                                                          label="Name *"></v-text-field>
                                        </v-col>

                                        <v-col cols="12" sm="6" md="6">
                                            <v-switch v-model="attributeGroup.status"  label="Status"></v-switch>
                                        </v-col>
                                
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.attributeGroup.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {ATTRIBUTE_GROUP_CREATE, ATTRIBUTE_GROUP_UPDATE, RESET_ATTRIBUTE_GROUP_ERROR} from "../../../../core/services/store/attributeGroups.module";
    import {mapGetters} from "vuex";

    export default {
        name: "AttributeGroupForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                attributeGroup: this.item
                
            }
        },
        created() {

        },
        computed: {
            ...mapGetters(["attributeGroupErrors", "attributeGroupIsLoaded", "dialog"])
        },
        methods: {
            save() {
                if (this.$refs.attributeGroupForm.validate()) {
                    let formData = new FormData();
                    if (this.attributeGroup.id)
                        formData.append('id', this.attributeGroup.id);

                    formData.append('name', this.attributeGroup.name);
                    formData.append('status', this.attributeGroup.status==true? 1: 0);
                    let data = this.$store.dispatch(this.attributeGroup.id ? ATTRIBUTE_GROUP_UPDATE : ATTRIBUTE_GROUP_CREATE, formData);

                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
                this.$store.dispatch(RESET_ATTRIBUTE_GROUP_ERROR)
            }
        }
    }
</script>

<style scoped>

</style>