<template>
    <v-card>
        <v-card-title>
            Attribute Groups

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="attributeGroupList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(attributeGroupList)"
                :search="search"
        >
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <attribute-group-form v-if="dialog" :item="item"></attribute-group-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        ATTRIBUTE_GROUP_DELETE,
        ATTRIBUTE_GROUP_LIST,
    } from "../../../../core/services/store/attributeGroups.module";
    import AttributeGroupForm from "./AttributeGroupForm";

    export default {
        components: {AttributeGroupForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
               this.$store.dispatch(ATTRIBUTE_GROUP_LIST)
        },
        computed: {
            ...mapGetters(["attributeGroupList", "dialog"])
        },
        methods: {
            createNew() {
                this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(ATTRIBUTE_GROUP_DELETE, item)
            }
        }
    }
</script>

<style scoped>

</style>