<template>
    <v-card>
        <v-card-title>
            Areas

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="zoneList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(zoneList)"
                :search="search"
        >
           <template v-slot:item.city_id="{ item }">
             {{ getNameById(item.city_id)  }}  
             
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <zone-form v-if="dialog" :item="item"></zone-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        ZONE_DELETE,
        ZONE_FORM_STATUS,
        ZONE_LIST
    } from "../../../../core/services/store/zones.module";
    import {
        CITY_LIST
    } from "../../../../core/services/store/cities.module";
    import ZoneForm from "./ZoneForm";

    export default {
        components: {ZoneForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Under City', value: 'city_id'},
                    {text: 'Zip Code', value: 'zip_code'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(ZONE_LIST)
            this.$store.dispatch(CITY_LIST)
        },
        computed: {
            ...mapGetters(["zoneList", "dialog"])
        },
        methods: {
            createNew() {
                  this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                  this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(ZONE_DELETE, item)
            },
            getNameById(cId){
                 let city = this.$store.getters.getCityName(cId);
                 return city.name;
            }
        }
    }
</script>

<style scoped>

</style>