<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="zoneForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Area</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="zoneErrors">
                                    <li v-for="error in zoneErrors" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="message in error">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12">
                                        <v-text-field v-model="zone.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-select :items="cityList" item-text="name"
                                                  item-value="id" type="number" v-model="zone.city_id"
                                                  :rules="[v => !!v || 'City is required']"
                                                  label="City *"></v-select>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field type="number" v-model="zone.zip_code"
                                                      :rules="[v => !!v || 'Zip code is required']"
                                                      label="Zip Code *"/>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-switch v-model="zone.status" label="Status"/>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.zone.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {ZONE_CREATE, ZONE_UPDATE} from "../../../../core/services/store/zones.module";
    import {mapGetters} from "vuex";
    import {CITY_LIST} from "../../../../core/services/store/cities.module";

    export default {
        name: "ZoneForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                zone: this.item
            }
        },
        created() {
            if (!this.cityList.length) {
                this.$store.dispatch(CITY_LIST);
            }
        },
        computed: {
            ...mapGetters(["zoneErrors", "zoneIsLoaded", "dialog", "cityList"])
        },
        methods: {
            save() {
                if (this.$refs.zoneForm.validate()) {
                    this.zone.status = +this.zone.status;
                    this.$store.dispatch(this.zone.id ? ZONE_UPDATE : ZONE_CREATE, this.zone);
                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
            }
        }
    }
</script>

<style scoped>

</style>