<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="divisionForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Division</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="divisionErrors">
                                    <li v-for="error in divisionErrors" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="message in error">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="division.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-select :items="countryList" item-text="name"
                                                  item-value="id" type="number" v-model="division.country_id"
                                                  :rules="[v => !!v || 'Country is required']"
                                                  label="Country *"></v-select>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-switch v-model="division.status" label="Status"/>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.division.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {DIVISION_CREATE, DIVISION_UPDATE} from "../../../../core/services/store/divisions.module";
    import {mapGetters} from "vuex";
    import {COUNTRY_LIST} from "../../../../core/services/store/countries.module";

    export default {
        name: "DivisionForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                division: this.item
            }
        },
        created() {
            if (!this.countryList.length) {
                this.$store.dispatch(COUNTRY_LIST);
            }
        },
        computed: {
            ...mapGetters(["divisionErrors", "divisionIsLoaded", "dialog", "countryList"])
        },
        methods: {
            save() {
                if (this.$refs.divisionForm.validate()) {
                    this.division.status = +this.division.status;
                    this.$store.dispatch(this.division.id ? DIVISION_UPDATE : DIVISION_CREATE, this.division);
                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
            }
        }
    }
</script>

<style scoped>

</style>