<template>
    <v-card>
        <v-card-title>
            Division

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="divisionList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(divisionList)"
                :search="search"
        >
            <template v-slot:item.country_id="{ item }">
             {{ getCountryNameById(item.country_id)  }}  
             
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <division-form v-if="dialog" :item="item"></division-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        DIVISION_DELETE,
        DIVISION_FORM_STATUS,
        DIVISION_LIST
    } from "../../../../core/services/store/divisions.module";

    import {
        COUNTRY_LIST
    } from "../../../../core/services/store/countries.module";

    import DivisionForm from "./DivisionForm";

    export default {
        components: {DivisionForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'Country', value: 'country_id'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(DIVISION_LIST)
            this.$store.dispatch(COUNTRY_LIST)
        },
        computed: {
            ...mapGetters(["divisionList", "dialog"])
        },
        methods: {
            createNew() {
                  this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                  this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(DIVISION_DELETE, item)
            },
            getCountryNameById(cId){
                 let country = this.$store.getters.getCountryById(cId);
                 return country.name;
            }
        }
    }
</script>

<style scoped>

</style>