<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="attributeForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Attribute</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="attributeErrors">
                                    <li v-for="(error,index) in attributeErrors" class="theme--light error--text" :key="index" >
                                        <ul v-if="error.length">
                                            <li v-for="(message,index) in error" :key="index">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="attribute.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field  v-model="attribute.slug" label="Slug "></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-select :items="types" item-text="name"
                                                  item-value="id" type="number" v-model="attribute.type"
                                                  label="Type"/>
                                    </v-col>

                                    <v-col cols="12" sm="6" md="6">
                                        <v-switch v-model="attribute.status" label="Status"></v-switch>
                                    </v-col>
                                
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.attribute.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {ATTRIBUTE_CREATE, ATTRIBUTE_UPDATE,RESET_ATTRIBUTE_ERROR} from "../../../../core/services/store/attributes.module";
    import {mapGetters} from "vuex";

    export default {
        name: "AttributeForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                attribute: this.item,
                types:  [ "color", "style" , "label" ] 
                
            }
        },
        created() {

        },
        computed: {
            ...mapGetters(["attributeErrors", "attributeIsLoaded", "dialog"])
        },
        methods: {
            save() {
                if (this.$refs.attributeForm.validate()) {
                    let formData = new FormData();
                    if (this.attribute.id)
                        formData.append('id', this.attribute.id);

                    formData.append('name', this.attribute.name);
                    formData.append('slug', this.attribute.slug);
                    formData.append('type', this.attribute.type ?? '');
                    formData.append('status', this.attribute.status==true? 1: 0);
                    let data = this.$store.dispatch(this.attribute.id ? ATTRIBUTE_UPDATE : ATTRIBUTE_CREATE, formData);

                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
                this.$store.dispatch(RESET_ATTRIBUTE_ERROR)
            }
        }
    }
</script>

<style scoped>

</style>