<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="brandForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Brand</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="brandErrors">
                                    <li v-for="error in brandErrors" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="message in error">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="brand.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="brand.code" :counter="10"
                                                      :rules="[v => !!v || 'Code is required']"
                                                      label="Code *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field type="number" v-model="brand.rank"
                                                      :rules="[v => !!v || 'Rank is required']"
                                                      label="Rank *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field type="number" v-model="brand.sort_order"
                                                      :rules="[v => !!v || 'Sort Order is required']"
                                                      label="Sort Order *"></v-text-field>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-switch v-model="brand.status" label="Status"></v-switch>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-file-input v-model="brand.image" label="Brand Logo"
                                                      :rules="[v => !!v || 'Brand Logo is required']"></v-file-input>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.brand.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {BRAND_CREATE, BRAND_FORM_STATUS, BRAND_UPDATE} from "../../../core/services/store/brands.module";
    import {mapGetters} from "vuex";

    export default {
        name: "BrandForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                brand: this.item
            }
        },
        created() {

        },
        computed: {
            ...mapGetters(["brandErrors", "brandIsLoaded", "dialog"])
        },
        methods: {
            save() {
                if (this.$refs.brandForm.validate()) {
                    let formData = new FormData();
                    if (this.brand.id)
                        formData.append('id', this.brand.id);
                    formData.append('name', this.brand.name);
                    formData.append('code', this.brand.code);
                    formData.append('rank', this.brand.rank);
                    formData.append('sort_order', this.brand.sort_order);
                    formData.append('status', this.brand.status==true? 1: 0);
                    formData.append('image', this.brand.image);
                    let data = this.$store.dispatch(this.brand.id ? BRAND_UPDATE : BRAND_CREATE, formData);

                }
            },
            closeDialog(){
                this.$store.dispatch("setModalStatus", false)
            }
        }
    }
</script>

<style scoped>

</style>