<template>
    <v-card>
        <v-card-title>
            Brands

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="brandList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(brandList)"
                :search="search"
        >
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <brand-form v-if="dialog" :item="item"></brand-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        BRAND_DELETE,
        BRAND_FORM_STATUS,
        BRAND_LIST,
        RESET_BRAND_ERROR
    } from "../../../core/services/store/brands.module";
    import BrandForm from "./BrandForm";

    export default {
        components: {BrandForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'code', value: 'code'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(BRAND_LIST)
        },
        computed: {
            ...mapGetters(["brandList", "dialog"])
        },
        methods: {
            createNew() {
                this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(BRAND_DELETE, item)
            }
        }
    }
</script>

<style scoped>

</style>