<template>
    <v-app>
        <v-row justify="center">
            <v-dialog v-model="dialog" persistent max-width="600px">
                <v-card>
                    <v-form @submit.prevent="save" enctype="multipart/form-data" ref="countryForm" lazy-validation>
                        <v-card-title>
                            <span class="headline">Add New Country</span>
                        </v-card-title>
                        <v-card-text>
                            <v-container>
                                <ul v-if="countryErrors">
                                    <li v-for="error in countryErrors" class="theme--light error--text">
                                        <ul v-if="error.length">
                                            <li v-for="message in error">
                                                <p>{{message}}</p>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <v-row>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="country.name" :counter="32"
                                                      :rules="[v => !!v || 'Name is required']"
                                                      label="Name *"/>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="country.code"
                                                      :rules="[v => !!v || 'Code is required']"
                                                      label="Code *"/>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="country.code_a3" label="Code a3"/>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="country.code_n3" label="Code n3"/>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="country.lat" label="Latitude"/>
                                    </v-col>
                                    <v-col cols="12" sm="6" md="6">
                                        <v-text-field v-model="country.long" label="Longitude"/>
                                    </v-col>
                                    <v-col cols="12">
                                        <v-switch v-model="country.status" label="Status"/>
                                    </v-col>
                                </v-row>
                            </v-container>
                            <small>* indicates required field</small>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="closeDialog">Close</v-btn>
                            <v-btn color="blue darken-1" type="submit" text>{{this.country.id?'Update':'Save'}}</v-btn>
                        </v-card-actions>
                    </v-form>
                </v-card>
            </v-dialog>
        </v-row>
    </v-app>
</template>

<script>
    import {COUNTRY_CREATE, COUNTRY_FORM_STATUS, COUNTRY_UPDATE} from "../../../../core/services/store/countries.module";
    import {mapGetters} from "vuex";

    export default {
        name: "CountryForm",
        props: {
            item: {
                required: false
            }
        },
        data() {
            return {
                country: this.item
            }
        },
        computed: {
            ...mapGetters(["countryErrors", "countryIsLoaded", "dialog"])
        },
        methods: {
            save() {
                if (this.$refs.countryForm.validate()) {
                    this.$store.dispatch(this.country.id ? COUNTRY_UPDATE : COUNTRY_CREATE, this.country);
                }
            },
            closeDialog() {
                this.$store.dispatch("setModalStatus", false)
            }
        }
    }
</script>

<style scoped>

</style>