<template>
    <v-card>
        <v-card-title>
            Countries

            <v-btn @click.stop="createNew" class="ma-2" outlined small fab color="indigo">
                <v-icon>mdi-plus</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-text-field v-if="countryList.length"
                          v-model="search"
                          append-icon="search"
                          label="Search"
                          single-line
                          hide-details
            ></v-text-field>
        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="Object.values(countryList)"
                :search="search"
        >
            <template v-slot:item.actions="{ item }">
                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                <v-icon @click="deleteItem(item)" small>mdi-delete</v-icon>
            </template>

        </v-data-table>
        <country-form v-if="dialog" :item="item"></country-form>
    </v-card>
</template>

<script>
    import {mapGetters, mapState} from "vuex";
    import {
        COUNTRY_DELETE,
        COUNTRY_FORM_STATUS,
        COUNTRY_LIST
    } from "../../../../core/services/store/countries.module";
    import CountryForm from "./CountryForm";

    export default {
        components: {CountryForm},
        data() {
            return {
                item: {},
                search: '',
                headers: [
                    {text: 'Name', value: 'name'},
                    {text: 'code', value: 'code'},
                    {text: 'Code a3', value: 'code_a3'},
                    {text: 'Code n3', value: 'code_n3'},
                    {text: 'Latitude', value: 'lat'},
                    {text: 'Longitude', value: 'long'},
                    {text: 'Actions', value: 'actions', sortable: false},
                ],
            }
        },
        name: "List",
        created() {
            this.$store.dispatch(COUNTRY_LIST)
        },
        computed: {
            ...mapGetters(["countryList", "dialog"])
        },
        methods: {
            createNew() {
                  this.$store.dispatch("setModalStatus", true)
                this.item = {};
            },
            editItem(item) {
                  this.$store.dispatch("setModalStatus", true)
                this.item = item;
            },
            deleteItem(item) {
                confirm('Are you sure you want to delete this item?') && this.$store.dispatch(COUNTRY_DELETE, item)
            }
        }
    }
</script>

<style scoped>

</style>